html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  color: #333333;
}

.app {
  min-height: 100vh;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  color: #333333;
  background: #ffffff;
  overflow: hidden;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
}

.navbar-brand a {
  text-decoration: none;
  color: #0ca2f3;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-item {
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 1rem;
  color: inherit;
  border-radius: 5px;
}

.menu-item:hover {
  background: rgba(2, 2, 2, 0.1);
}

.menu-item.active {
  background: #03a8fa;
  color: #ffffff;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

.section:nth-child(2) {
  background: linear-gradient(#0097e6, #00a8ff);
}

.section:nth-child(3) {
  background: #ffffff;
  color: #333232;
}

.section:nth-child(4) {
  background: linear-gradient(#8e7ce4, #9783fc);
}

.section:nth-child(5) {
  background: linear-gradient(#e6b530, #f7c12d);
}

.section:nth-child(6) {
  background: linear-gradient(#407199, #457caf);
}

.footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  background: #353b48;
  color: #ffffff;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
