html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    color: #333333;
}

.scroll-container {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    color: #333333;
    background: #ffffff;
    overflow: hidden;
    z-index: 1000;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
}

.navbar-brand a {
    text-decoration: none;
    color: #0097e6;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item {
    display: inline-block;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 1rem;
    color: inherit;
}

.menu-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu-item.active {
    background: #00a8ff;
    color: #ffffff;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.section:nth-child(2) {
    background: linear-gradient(#0097e6, #00a8ff);
}

.section:nth-child(3) {
    background: #ffffff;
    color: #333333;
}

.section:nth-child(4) {
    background: linear-gradient(#8c7ae6, #9c88ff);
}

.section:nth-child(5) {
    background: linear-gradient(#e1b12c, #fbc531);
}

.section:nth-child(6) {
    background: linear-gradient(#40739e, #487eb0);
}

.footer {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    background: #353b48;
    color: #ffffff;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
